h1 {
  color: #7A33FF;
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 125px;
}

h2 {
  font-family: 'ZCOOL XiaoWei', serif;
  color: #F1D15E;
}
ul{
  font-size: 30px;
  font-family: 'ZCOOL XiaoWei', serif;
  color: #F1D15E;
}

body {
  background-image: url("img/ramen.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
